.banner {
    display: block;
    margin: 2% auto;
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.home {
    margin: 0 5%;
}

.home h1 {
    font-size: 32px;
}

.home p {
    font-size: 20px;
}

#About {
    width: 95%;
}

.vision {
    background: linear-gradient(to right, #A43931, #1D4350); 
    padding: 1px 8px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    text-align: right;
}

.vision-img {
    width: 320px;
}

#About p {
    line-height: 1.5;
}

#Gallery {
    width: 95%;
}

#Gallery h1 {
    text-align: center;
}

#Gallery h2 {
    font-size: 22px;
}

.gallery-img {
    border-radius: 5px;
    width: 288px;
    height: 200px;
    object-fit: cover;
    margin: 0 5px;
}

.gallery-card {
    padding: 15px 10px;
    border-radius: 5px;
}

.gallery-card p {
    height: 80px;
}

.gallery-card:hover {
    background: linear-gradient(to right, #A43931, #1D4350); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: 0.2s;
}

#Team {
    display: none;
}

@media screen and (min-height:800px) {

  }
  
@media screen and (max-width:576px) {
    .home {
        margin-top: 22%;
        margin-left: 0;
        margin-right: 0;
    }
    .banner {
        width: 100%;
        height: 300px;
        border-radius: 0;
    }
    #About, #Gallery {
        margin: 0;
        width: 100%;
    }
    #About p, #About h1 {
        margin-left: 5%;
        margin-right: 5%;
    }
    .vision-img {
        width: 80%;
        height: auto;
        margin: 6px auto;
        display: block;
    }
    .gallery-img {
        margin: 0 auto;
        display: block;
    }
    
    .gallery-card {
        width: 100%;
        text-align: center;
        padding: 5% 0;
        border-radius: 0;
    }
    .vision {
        margin: 5px 0;
        border-radius: 0;
    }
  }