@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

.sidebar{
    height: 100%;
    width: 200px;
    position: fixed;
    padding: 0 20px;
    text-align: right;
    border-right: solid 1px #c3ddff;
}

.nav {
    height: 78%;
    margin-top: 5%;
}

.sidebar-mobile {
    display: none;
    color: white;
    font-family: 'Righteous', cursive;
    background: linear-gradient(to right, #A43931, #1D4350);
    width: 100%;
    position: fixed;
    top: 0;
}

.sidebar i {
    color: white;
}

.navbar-expand {
    background: linear-gradient(to right, #A43931, #1D4350);
    color: white;
    font-size: 22px;
    display: none;
}

.expand-nav {
    display: list-item;
}

.nav-item-expand {
    padding: 5%;
    transition: 0.2s;
    list-style: none;
}

.sidebar-mobile button{
    border: 0;
    border-radius: 10px;
    background: none;
    color: white;
}

.nav-item {
    font-size: 24px;
    padding: 8px;
    display: list-item;
    list-style: none;
    border-radius: 10px;
    
}

.nav-item:hover {
    background: linear-gradient(to right, #A43931, #1D4350); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.nav-item a:focus {
    background: linear-gradient(to right, #A43931, #1D4350); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.social {
    background: linear-gradient(to right, #A43931, #1D4350);
    font-family: 'Righteous', cursive;
    bottom: 0;
    padding: 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.social h1 {
    font-size: 24px;
}

.bi {
    font-size: 24px;
    margin-left: 5px;
}

@media screen and (min-height:800px) {
    .nav {
        height: 85%;
    }
}

@media screen and (max-width:576px) {
    .sidebar{
        display: none;
    }
    .sidebar-mobile{
        display: block;
    }
}